.h-full {
  min-height: 100vh;
  height: 100%;
}

.w-half {
  width: 50%;
}

.fs-xs {
  font-size: 0.875em;
}

.fs-s {
  font-size: 1.125em;
}

.fs-m {
  font-size: 1.25em;
}

.fs-l {
  font-size: 2.75em;
}