a {
  color: inherit;
  text-decoration: underline;
  font-weight: bold;


  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.btn  {
  text-decoration: none;
}

.btn.btn-danger a{
  color: white;
}