$title-font-size: 18px;
$global-font-size: 16px;
$form-font-size: 14px;
$global-line-height: 1.5;
$error-title-size: 22px;

$font-fallback: 'Helvetica', 'Arial', sans-serif;
$font-default: 'Mukta', $font-fallback;

$font-light: 300;
$font-regular: 400;
$font-semibold: 600;
$font-extrabold: 800;