.stat-card {
  @apply p-3 rounded mx-4 shadow;
  text-align: center;
  width: 100%;
  max-width: 150px;
  margin-top: 5px;
  background-color: white;
  border: 1px solid $brand-primary;
}

.stat-card h3 {
  font-size: 1em;
  color: #949494;
}

.stat-card .score {
  font-size: 2em;
}
